In [1]:
import pandas as pd
from datetime import datetime
pd.options.display.float_format='{:,.0f}'.format
import numpy as np

In [2]:
df = pd.read_csv("EMS_Incident_Dispatch_Data.csv")

In [ ]:
df

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1513451 entries, 0 to 1513450
Data columns (total 31 columns):
 #   Column                          Non-Null Count    Dtype
---  ------                          --------------    -----
 0   CAD_INCIDENT_ID                 1513451 non-null  int64
 1   INCIDENT_DATETIME               1513451 non-null  object
 2   INITIAL_CALL_TYPE               1513451 non-null  object
 3   INITIAL_SEVERITY_LEVEL_CODE     1513451 non-null  int64
 4   FINAL_CALL_TYPE                 1513451 non-null  object
 5   FINAL_SEVERITY_LEVEL_CODE       1513451 non-null  int64
 6   FIRST_ASSIGNMENT_DATETIME       1503080 non-null  object
 7   VALID_DISPATCH_RSPNS_TIME_INDC  1513451 non-null  object
 8   DISPATCH_RESPONSE_SECONDS_QY    1513451 non-null  int64
 9   FIRST_ACTIVATION_DATETIME       1501006 non-null  object
 10  FIRST_ON_SCENE_DATETIME         1464228 non-null  object
 11  VALID_INCIDENT_RSPNS_TIME_INDC  1513451 non-null  object
 12  INCIDENT_RESPONSE_SECONDS_QY    1464060 non-null  float64
 13  INCIDENT_TRAVEL_TM_SECONDS_QY   1464206 non-null  float64
 14  FIRST_TO_HOSP_DATETIME          940166 non-null   object
 15  FIRST_HOSP_ARRIVAL_DATETIME     935539 non-null   object
 16  INCIDENT_CLOSE_DATETIME         1513209 non-null  object
 17  HELD_INDICATOR                  1513451 non-null  object
 18  INCIDENT_DISPOSITION_CODE       1501856 non-null  float64
 19  BOROUGH                         1513451 non-null  object
 20  INCIDENT_DISPATCH_AREA          1513451 non-null  object
 21  ZIPCODE                         1489121 non-null  float64
 22  POLICEPRECINCT                  1489166 non-null  float64
 23  CITYCOUNCILDISTRICT             1489166 non-null  float64
 24  COMMUNITYDISTRICT               1489165 non-null  float64
 25  COMMUNITYSCHOOLDISTRICT         1488022 non-null  float64
 26  CONGRESSIONALDISTRICT           1489166 non-null  float64
 27  REOPEN_INDICATOR                1513451 non-null  object
 28  SPECIAL_EVENT_INDICATOR         1513451 non-null  object
 29  STANDBY_INDICATOR               1513451 non-null  object
 30  TRANSFER_INDICATOR              1513451 non-null  object
dtypes: float64(9), int64(4), object(18)
memory usage: 357.9+ MB

In [ ]:
df.describe()

In [ ]:
df["INCIDENT_RESPONSE_SECONDS_QY"].median()

In [4]:
zip_gb = df.groupby("ZIPCODE")

In [ ]:
zip_gb.describe()

In [5]:
mean_zip=zip_gb.mean()

In [ ]:
mean_zip

In [ ]:
mean_zip.to_csv("ems data by zip2", index = True, encoding = "UTF8")

In [6]:
df["INCIDENT_DATETIME"]=pd.to_datetime(df["INCIDENT_DATETIME"])

In [7]:
df["FIRST_ON_SCENE_DATETIME"]=pd.to_datetime(df["FIRST_ON_SCENE_DATETIME"])

In [8]:
df["FIRST_TO_HOSP_DATETIME"]=pd.to_datetime(df["FIRST_TO_HOSP_DATETIME"])

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1513451 entries, 0 to 1513450
Data columns (total 31 columns):
 #   Column                          Non-Null Count    Dtype
---  ------                          --------------    -----
 0   CAD_INCIDENT_ID                 1513451 non-null  int64
 1   INCIDENT_DATETIME               1513451 non-null  datetime64[ns]
 2   INITIAL_CALL_TYPE               1513451 non-null  object
 3   INITIAL_SEVERITY_LEVEL_CODE     1513451 non-null  int64
 4   FINAL_CALL_TYPE                 1513451 non-null  object
 5   FINAL_SEVERITY_LEVEL_CODE       1513451 non-null  int64
 6   FIRST_ASSIGNMENT_DATETIME       1503080 non-null  object
 7   VALID_DISPATCH_RSPNS_TIME_INDC  1513451 non-null  object
 8   DISPATCH_RESPONSE_SECONDS_QY    1513451 non-null  int64
 9   FIRST_ACTIVATION_DATETIME       1501006 non-null  object
 10  FIRST_ON_SCENE_DATETIME         1464228 non-null  datetime64[ns]
 11  VALID_INCIDENT_RSPNS_TIME_INDC  1513451 non-null  object
 12  INCIDENT_RESPONSE_SECONDS_QY    1464060 non-null  float64
 13  INCIDENT_TRAVEL_TM_SECONDS_QY   1464206 non-null  float64
 14  FIRST_TO_HOSP_DATETIME          940166 non-null   datetime64[ns]
 15  FIRST_HOSP_ARRIVAL_DATETIME     935539 non-null   object
 16  INCIDENT_CLOSE_DATETIME         1513209 non-null  object
 17  HELD_INDICATOR                  1513451 non-null  object
 18  INCIDENT_DISPOSITION_CODE       1501856 non-null  float64
 19  BOROUGH                         1513451 non-null  object
 20  INCIDENT_DISPATCH_AREA          1513451 non-null  object
 21  ZIPCODE                         1489121 non-null  float64
 22  POLICEPRECINCT                  1489166 non-null  float64
 23  CITYCOUNCILDISTRICT             1489166 non-null  float64
 24  COMMUNITYDISTRICT               1489165 non-null  float64
 25  COMMUNITYSCHOOLDISTRICT         1488022 non-null  float64
 26  CONGRESSIONALDISTRICT           1489166 non-null  float64
 27  REOPEN_INDICATOR                1513451 non-null  object
 28  SPECIAL_EVENT_INDICATOR         1513451 non-null  object
 29  STANDBY_INDICATOR               1513451 non-null  object
 30  TRANSFER_INDICATOR              1513451 non-null  object
dtypes: datetime64[ns](3), float64(9), int64(4), object(15)
memory usage: 357.9+ MB

In [10]:
df["FIRST_HOSP_ARRIVAL_DATETIME"]=pd.to_datetime(df["FIRST_HOSP_ARRIVAL_DATETIME"])

In [11]:
df["HOSPITAL_TRAVEL"]=df["FIRST_HOSP_ARRIVAL_DATETIME"]-df["FIRST_TO_HOSP_DATETIME"]

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1513451 entries, 0 to 1513450
Data columns (total 32 columns):
 #   Column                          Non-Null Count    Dtype
---  ------                          --------------    -----
 0   CAD_INCIDENT_ID                 1513451 non-null  int64
 1   INCIDENT_DATETIME               1513451 non-null  datetime64[ns]
 2   INITIAL_CALL_TYPE               1513451 non-null  object
 3   INITIAL_SEVERITY_LEVEL_CODE     1513451 non-null  int64
 4   FINAL_CALL_TYPE                 1513451 non-null  object
 5   FINAL_SEVERITY_LEVEL_CODE       1513451 non-null  int64
 6   FIRST_ASSIGNMENT_DATETIME       1503080 non-null  object
 7   VALID_DISPATCH_RSPNS_TIME_INDC  1513451 non-null  object
 8   DISPATCH_RESPONSE_SECONDS_QY    1513451 non-null  int64
 9   FIRST_ACTIVATION_DATETIME       1501006 non-null  object
 10  FIRST_ON_SCENE_DATETIME         1464228 non-null  datetime64[ns]
 11  VALID_INCIDENT_RSPNS_TIME_INDC  1513451 non-null  object
 12  INCIDENT_RESPONSE_SECONDS_QY    1464060 non-null  float64
 13  INCIDENT_TRAVEL_TM_SECONDS_QY   1464206 non-null  float64
 14  FIRST_TO_HOSP_DATETIME          940166 non-null   datetime64[ns]
 15  FIRST_HOSP_ARRIVAL_DATETIME     935539 non-null   datetime64[ns]
 16  INCIDENT_CLOSE_DATETIME         1513209 non-null  object
 17  HELD_INDICATOR                  1513451 non-null  object
 18  INCIDENT_DISPOSITION_CODE       1501856 non-null  float64
 19  BOROUGH                         1513451 non-null  object
 20  INCIDENT_DISPATCH_AREA          1513451 non-null  object
 21  ZIPCODE                         1489121 non-null  float64
 22  POLICEPRECINCT                  1489166 non-null  float64
 23  CITYCOUNCILDISTRICT             1489166 non-null  float64
 24  COMMUNITYDISTRICT               1489165 non-null  float64
 25  COMMUNITYSCHOOLDISTRICT         1488022 non-null  float64
 26  CONGRESSIONALDISTRICT           1489166 non-null  float64
 27  REOPEN_INDICATOR                1513451 non-null  object
 28  SPECIAL_EVENT_INDICATOR         1513451 non-null  object
 29  STANDBY_INDICATOR               1513451 non-null  object
 30  TRANSFER_INDICATOR              1513451 non-null  object
 31  HOSPITAL_TRAVEL                 935539 non-null   timedelta64[ns]
dtypes: datetime64[ns](4), float64(9), int64(4), object(14), timedelta64[ns](1)
memory usage: 369.5+ MB

In [14]:
df["HOSPITAL_TRAVEL"]=df["HOSPITAL_TRAVEL"].dt.total_seconds()

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1513451 entries, 0 to 1513450
Data columns (total 32 columns):
 #   Column                          Non-Null Count    Dtype
---  ------                          --------------    -----
 0   CAD_INCIDENT_ID                 1513451 non-null  int64
 1   INCIDENT_DATETIME               1513451 non-null  datetime64[ns]
 2   INITIAL_CALL_TYPE               1513451 non-null  object
 3   INITIAL_SEVERITY_LEVEL_CODE     1513451 non-null  int64
 4   FINAL_CALL_TYPE                 1513451 non-null  object
 5   FINAL_SEVERITY_LEVEL_CODE       1513451 non-null  int64
 6   FIRST_ASSIGNMENT_DATETIME       1503080 non-null  object
 7   VALID_DISPATCH_RSPNS_TIME_INDC  1513451 non-null  object
 8   DISPATCH_RESPONSE_SECONDS_QY    1513451 non-null  int64
 9   FIRST_ACTIVATION_DATETIME       1501006 non-null  object
 10  FIRST_ON_SCENE_DATETIME         1464228 non-null  datetime64[ns]
 11  VALID_INCIDENT_RSPNS_TIME_INDC  1513451 non-null  object
 12  INCIDENT_RESPONSE_SECONDS_QY    1464060 non-null  float64
 13  INCIDENT_TRAVEL_TM_SECONDS_QY   1464206 non-null  float64
 14  FIRST_TO_HOSP_DATETIME          940166 non-null   datetime64[ns]
 15  FIRST_HOSP_ARRIVAL_DATETIME     935539 non-null   datetime64[ns]
 16  INCIDENT_CLOSE_DATETIME         1513209 non-null  object
 17  HELD_INDICATOR                  1513451 non-null  object
 18  INCIDENT_DISPOSITION_CODE       1501856 non-null  float64
 19  BOROUGH                         1513451 non-null  object
 20  INCIDENT_DISPATCH_AREA          1513451 non-null  object
 21  ZIPCODE                         1489121 non-null  float64
 22  POLICEPRECINCT                  1489166 non-null  float64
 23  CITYCOUNCILDISTRICT             1489166 non-null  float64
 24  COMMUNITYDISTRICT               1489165 non-null  float64
 25  COMMUNITYSCHOOLDISTRICT         1488022 non-null  float64
 26  CONGRESSIONALDISTRICT           1489166 non-null  float64
 27  REOPEN_INDICATOR                1513451 non-null  object
 28  SPECIAL_EVENT_INDICATOR         1513451 non-null  object
 29  STANDBY_INDICATOR               1513451 non-null  object
 30  TRANSFER_INDICATOR              1513451 non-null  object
 31  HOSPITAL_TRAVEL                 935539 non-null   float64
dtypes: datetime64[ns](4), float64(10), int64(4), object(14)
memory usage: 369.5+ MB

In [35]:
df["HOSPITAL_TRAVEL_Act"]=df["INCIDENT_DISPOSITION_CODE"].apply\
(lambda x : 'df[`HOSPITAL_TRAVEL`]' if x == 82 else np.nan)

In [27]:
df.describe()

,CAD_INCIDENT_ID,INITIAL_SEVERITY_LEVEL_CODE,FINAL_SEVERITY_LEVEL_CODE,DISPATCH_RESPONSE_SECONDS_QY,INCIDENT_RESPONSE_SECONDS_QY,INCIDENT_TRAVEL_TM_SECONDS_QY,INCIDENT_DISPOSITION_CODE,ZIPCODE,POLICEPRECINCT,CITYCOUNCILDISTRICT,COMMUNITYDISTRICT,COMMUNITYSCHOOLDISTRICT,CONGRESSIONALDISTRICT,HOSPITAL_TRAVEL
count,"1,513,451","1,513,451","1,513,451","1,513,451","1,464,060","1,464,206","1,501,856","1,489,121","1,489,166","1,489,166","1,489,165","1,488,022","1,489,166","935,539"
mean,"214,221,721",4,4,65,541,477,86,"10,737",62,23,263,15,11,721
std,"3,541,315",2,2,462,589,340,5,549,34,15,118,10,3,425
min,"210,900,005",1,1,0,0,0,82,83,1,1,101,1,3,0
25%,"211,820,414",3,3,11,313,286,82,"10,301",40,10,201,7,8,422
50%,"212,704,654",4,4,18,441,408,82,"10,471",60,20,301,13,11,643
75%,"213,614,642",6,6,37,623,577,91,"11,226",90,36,318,23,13,925
max,"220,895,105",9,8,"32,268","32,313","28,574",96,"12,345",123,51,595,32,16,"9,716"

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1513451 entries, 0 to 1513450
Data columns (total 33 columns):
 #   Column                          Non-Null Count    Dtype
---  ------                          --------------    -----
 0   CAD_INCIDENT_ID                 1513451 non-null  int64
 1   INCIDENT_DATETIME               1513451 non-null  datetime64[ns]
 2   INITIAL_CALL_TYPE               1513451 non-null  object
 3   INITIAL_SEVERITY_LEVEL_CODE     1513451 non-null  int64
 4   FINAL_CALL_TYPE                 1513451 non-null  object
 5   FINAL_SEVERITY_LEVEL_CODE       1513451 non-null  int64
 6   FIRST_ASSIGNMENT_DATETIME       1503080 non-null  object
 7   VALID_DISPATCH_RSPNS_TIME_INDC  1513451 non-null  object
 8   DISPATCH_RESPONSE_SECONDS_QY    1513451 non-null  int64
 9   FIRST_ACTIVATION_DATETIME       1501006 non-null  object
 10  FIRST_ON_SCENE_DATETIME         1464228 non-null  datetime64[ns]
 11  VALID_INCIDENT_RSPNS_TIME_INDC  1513451 non-null  object
 12  INCIDENT_RESPONSE_SECONDS_QY    1464060 non-null  float64
 13  INCIDENT_TRAVEL_TM_SECONDS_QY   1464206 non-null  float64
 14  FIRST_TO_HOSP_DATETIME          940166 non-null   datetime64[ns]
 15  FIRST_HOSP_ARRIVAL_DATETIME     935539 non-null   datetime64[ns]
 16  INCIDENT_CLOSE_DATETIME         1513209 non-null  object
 17  HELD_INDICATOR                  1513451 non-null  object
 18  INCIDENT_DISPOSITION_CODE       1501856 non-null  float64
 19  BOROUGH                         1513451 non-null  object
 20  INCIDENT_DISPATCH_AREA          1513451 non-null  object
 21  ZIPCODE                         1489121 non-null  float64
 22  POLICEPRECINCT                  1489166 non-null  float64
 23  CITYCOUNCILDISTRICT             1489166 non-null  float64
 24  COMMUNITYDISTRICT               1489165 non-null  float64
 25  COMMUNITYSCHOOLDISTRICT         1488022 non-null  float64
 26  CONGRESSIONALDISTRICT           1489166 non-null  float64
 27  REOPEN_INDICATOR                1513451 non-null  object
 28  SPECIAL_EVENT_INDICATOR         1513451 non-null  object
 29  STANDBY_INDICATOR               1513451 non-null  object
 30  TRANSFER_INDICATOR              1513451 non-null  object
 31  HOSPITAL_TRAVEL                 935539 non-null   float64
 32  HOSPITAL_TRAVEL_Act             941304 non-null   object
dtypes: datetime64[ns](4), float64(10), int64(4), object(15)
memory usage: 381.0+ MB

In [26]:
zip_gb_mean = df.groupby("ZIPCODE").mean()

In [25]:
zip_gb_mean.to_csv("ems data by zip3", index = True, encoding = "UTF8")

In [28]:
df_sub=df[["INCIDENT_DATETIME", "INCIDENT_RESPONSE_SECONDS_QY","FIRST_TO_HOSP_DATETIME",\
           "FIRST_HOSP_ARRIVAL_DATETIME", "HELD_INDICATOR","HOSPITAL_TRAVEL", "ZIPCODE", "INCIDENT_DISPOSITION_CODE" ]]

In [29]:
df_sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1513451 entries, 0 to 1513450
Data columns (total 8 columns):
 #   Column                        Non-Null Count    Dtype
---  ------                        --------------    -----
 0   INCIDENT_DATETIME             1513451 non-null  datetime64[ns]
 1   INCIDENT_RESPONSE_SECONDS_QY  1464060 non-null  float64
 2   FIRST_TO_HOSP_DATETIME        940166 non-null   datetime64[ns]
 3   FIRST_HOSP_ARRIVAL_DATETIME   935539 non-null   datetime64[ns]
 4   HELD_INDICATOR                1513451 non-null  object
 5   HOSPITAL_TRAVEL               935539 non-null   float64
 6   ZIPCODE                       1489121 non-null  float64
 7   INCIDENT_DISPOSITION_CODE     1501856 non-null  float64
dtypes: datetime64[ns](3), float64(4), object(1)
memory usage: 92.4+ MB

In [30]:
df_sub.describe()

,INCIDENT_RESPONSE_SECONDS_QY,HOSPITAL_TRAVEL,ZIPCODE,INCIDENT_DISPOSITION_CODE
count,"1,464,060","935,539","1,489,121","1,501,856"
mean,541,721,"10,737",86
std,589,425,549,5
min,0,0,83,82
25%,313,422,"10,301",82
50%,441,643,"10,471",82
75%,623,925,"11,226",91
max,"32,313","9,716","12,345",96

In [ ]:
## in rock point, only 81/394 calls resulted in transport (20%)
##in total data, 930,794/1,489,121 resulted in transport (62%)